In [45]:
import pandas as pd
import numpy as np

In [46]:
df=pd.read_csv("C:/Users/user/Desktop/IRIS.csv")

In [47]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [48]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [49]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
x=df[["sepal_length","sepal_width","petal_length","petal_width"]]
y=df[["species"]]

In [52]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75,random_state=1)

In [53]:
y_train

             species
54   Iris-versicolor
108   Iris-virginica
112   Iris-virginica
17       Iris-setosa
119   Iris-virginica
..               ...
133   Iris-virginica
137   Iris-virginica
72   Iris-versicolor
140   Iris-virginica
37       Iris-setosa

[112 rows x 1 columns]

In [54]:
y_test

             species
14       Iris-setosa
98   Iris-versicolor
75   Iris-versicolor
16       Iris-setosa
131   Iris-virginica
56   Iris-versicolor
141   Iris-virginica
44       Iris-setosa
29       Iris-setosa
120   Iris-virginica
94   Iris-versicolor
5        Iris-setosa
102   Iris-virginica
51   Iris-versicolor
78   Iris-versicolor
42       Iris-setosa
92   Iris-versicolor
66   Iris-versicolor
31       Iris-setosa
35       Iris-setosa
90   Iris-versicolor
84   Iris-versicolor
77   Iris-versicolor
40       Iris-setosa
125   Iris-virginica
99   Iris-versicolor
33       Iris-setosa
19       Iris-setosa
73   Iris-versicolor
146   Iris-virginica
91   Iris-versicolor
135   Iris-virginica
69   Iris-versicolor
128   Iris-virginica
114   Iris-virginica
48       Iris-setosa
53   Iris-versicolor
28       Iris-setosa

In [55]:
x_test

     sepal_length  sepal_width  petal_length  petal_width
14            5.8          4.0           1.2          0.2
98            5.1          2.5           3.0          1.1
75            6.6          3.0           4.4          1.4
16            5.4          3.9           1.3          0.4
131           7.9          3.8           6.4          2.0
56            6.3          3.3           4.7          1.6
141           6.9          3.1           5.1          2.3
44            5.1          3.8           1.9          0.4
29            4.7          3.2           1.6          0.2
120           6.9          3.2           5.7          2.3
94            5.6          2.7           4.2          1.3
5             5.4          3.9           1.7          0.4
102           7.1          3.0           5.9          2.1
51            6.4          3.2           4.5          1.5
78            6.0          2.9           4.5          1.5
42            4.4          3.2           1.3          0.2
92            5.8          2.6           4.0          1.2
66            5.6          3.0           4.5          1.5
31            5.4          3.4           1.5          0.4
35            5.0          3.2           1.2          0.2
90            5.5          2.6           4.4          1.2
84            5.4          3.0           4.5          1.5
77            6.7          3.0           5.0          1.7
40            5.0          3.5           1.3          0.3
125           7.2          3.2           6.0          1.8
99            5.7          2.8           4.1          1.3
33            5.5          4.2           1.4          0.2
19            5.1          3.8           1.5          0.3
73            6.1          2.8           4.7          1.2
146           6.3          2.5           5.0          1.9
91            6.1          3.0           4.6          1.4
135           7.7          3.0           6.1          2.3
69            5.6          2.5           3.9          1.1
128           6.4          2.8           5.6          2.1
114           5.8          2.8           5.1          2.4
48            5.3          3.7           1.5          0.2
53            5.5          2.3           4.0          1.3
28            5.2          3.4           1.4          0.2

In [56]:
y_train

             species
54   Iris-versicolor
108   Iris-virginica
112   Iris-virginica
17       Iris-setosa
119   Iris-virginica
..               ...
133   Iris-virginica
137   Iris-virginica
72   Iris-versicolor
140   Iris-virginica
37       Iris-setosa

[112 rows x 1 columns]

In [60]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [64]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5)
classifier.fit(x_train,y_train)

d:\Users\user\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [65]:
y_predict=classifier.predict(x_test)

In [66]:
y_predict

array(['Iris-setosa', 'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa'],
      dtype=object)